<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iGallery</title>
  <link rel="icon" type="image/png" href="/favicon.png">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@700&display=swap"
    rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav class="navbar">
    <a href="/" class="logo-text">iGallery</a>
    <ul class="nav-links">
      <li><a href="#">Works</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  {{{body}}}

  <script src="/javascripts/gallery.js"></script>
</body>

</html>